/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.order-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;

  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.order-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.order-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.order-details span {

  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.Information{
  margin: 10px;
}

.Items{
  display: flex;
  margin: 10px;
}

.ExpiryItems{
  display: flex;
  margin: 10px;
}

.item {
  margin-right: 10px;
}

.expiryitem{
  margin-right: 10px;
}

.itemsContainer{
}

.create{
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 15px;

  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.informationForm input{
  display: block;
  height: 30px;
  font-size: 16px;
  width: 250px;
  margin: 8px 0px;
}

.informationForm textarea{
  display: block;
  height: 50px;
  width: 250px;
}

.itemsForm input{
  display: block;
  width: 250px;
  margin: 5px 0px;
}

input.error{
  border: 1px solid var(--error)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.singleExpiryItem{
  margin: 5px 0px 5px;
}

.expiryitemexpired p{
  color:red;
}

.login, .signup {
  width: 30%;
  margin: 30px auto;
  padding: 25px;
  border-style: ridge;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  background: #fff;

}

.login input, .signup input, .signup button{
  display:block;
  margin: 10px, 0px, 10px;
}

.nav link{ 
  display:block;
}

